@import 'variables';
@import 'colors';
@import 'text';
@import 'mixin';

.button-bar {
  .btn {
    width:100%;
    @include __button();
    height: $button-height;
    text-transform: capitalize;

    @if ( $button_chevrons_allowed ) {
      span.spacer {
        padding:0 $button_chevron_spacing 0 0;
        background-color: transparent;
        opacity:0;
      }
      i {
        font-size: 0.8em;
      }
    }
    @else {
      i {
        position:absolute;
        width:1px;
        left:-9999;
        display: none;
        opacity:0;
      }
    }
    // no borders and no outline
    border: none;
    outline: none;
  }
}
.btn-primary {
  background-color: $button_primary_bottom;
  background-image: linear-gradient(to bottom, $button_primary_top, $button_primary_bottom);
  color: $button_primary_text;
  span {
    color: $button_primary_text;
  }
  &:hover {
    background-color: $button_primary_bottom_hover;
    background-image: linear-gradient(to bottom, $button_primary_top_hover, $button_primary_bottom_hover);
    color: $button_primary_text_hover;
  }
  &:focus {
    background-color: $button_primary_bottom_focus;
    background-image: linear-gradient(to bottom, $button_primary_top_focus, $button_primary_bottom_focus);
    color: $button_primary_text_focus;
  }
}
.btn-secondary {
  background-color: $button_secondary_bottom;
  background-image: linear-gradient(to bottom, $button_secondary_top, $button_secondary_bottom);
  color: $button_secondary_text;
  span {
    color: $button_secondary_text;
  }
  &:hover {
    background-color: $button_secondary_bottom_hover;
    background-image: linear-gradient(to bottom, $button_secondary_top_hover, $button_secondary_bottom_hover);
    color: $button_secondary_text_hover;
  }
  &:focus {
    background-color: $button_primary_bottom_focus;
    background-image: linear-gradient(to bottom, $button_primary_top_focus, $button_primary_bottom_focus);
    color: $button_primary_text_focus;
  }
}
.btn-tertiary {
  background-color: $button_tertiary_bottom;
  background-image: linear-gradient(to bottom, $button_tertiary_top, $button_tertiary_bottom);
  color: $button_tertiary_text;
  span {
    color: $button_tertiary_text;
  }
  &:hover {
    background-color: $button_tertiary_bottom_hover;
    background-image: linear-gradient(to bottom, $button_tertiary_top_hover, $button_tertiary_bottom_hover);
    color: $button_tertiary_text_hover;
  }
  &:focus {
    background-color: $button_primary_bottom_focus;
    background-image: linear-gradient(to bottom, $button_primary_top_focus, $button_primary_bottom_focus);
    color: $button_primary_text_focus;
  }
}
.btn.full-width {
  width:100%;
}
.btn.jump-link {
  left:0;
  margin:0;
  padding:0;
}
