@import 'colors';
@import 'variables';
@import 'text';
@import 'mixin';

$checkbox-square: $checkbox-size + 4px;

.checkbox-embed {

  padding: 10px 0;

  input[type="checkbox"], label {
    cursor: pointer;
    height:$checkbox-square;
  }
  input[type="checkbox"] {
    position: absolute;
    display: inline-block;
    left: -9999px;
    width:1px;
    opacity: 0;
    transition: all .2s;
  }
  input[type="checkbox"] ~ label {
    @include __checkbox();
    color: $gray-light;
    position: relative;
    line-height: $checkbox-square;
    display: inline;
    vertical-align: middle;
    height:$checkbox-square;
    padding: 0 5px;   // allows focus to show around label equally
  }

  input[type="checkbox"] ~ label:before {
    content: '';
    background: #fff;
    border: 2px solid $entered-color;
    display: inline-block;
    vertical-align: middle;
    width: $checkbox-size;
    height: $checkbox-size;
    line-height: $checkbox-size;
    margin-bottom: 4px;
    margin-right: 10px;
    text-align: center;
  }

  input[type="checkbox"]:checked ~ label:before {
    @include __icons()
    // content: '✔';
    content: '\f00c'; // fa-check
    border-color: $check_button_fill;
    background: $check_button_fill;
    color:$check_button_text;
  }

  // when hovered, highlight the box
  label:hover:before {
    border-color: $focus-color;
  }

  // accessibility
  input[type="checkbox"]:focus ~ label {
    color: $gray-light !important;
    outline: 1px dotted $focus-color;  // focus on label style
  }
  input[type="checkbox"]:focus ~ label:before {
    border-color: $check_button_focus !important;
    background: $check_button_fill_focus;
    color:$check_button_fill_focus;
  }
  // Add back if you want filled checked:focus
  input[type="checkbox"]:checked:focus ~ label:before {
    background: $check_button_fill;
    color:$check_button_text;
  }
  input[type="checkbox"] ~ label:hover:before {
    border: 2px solid $check_button_hover !important;
  }

  // ==============================================
  //  embedded checkboxes are disabled - when n/a
  // ==============================================
  input[type="checkbox"]:disabled ~ label:before {
    background: #fff;
    border-color: $disabled-color !important;
    color:$check_button_text;
    outline: none;
  }
  input[type="checkbox"]:disabled:checked ~ label:before {
    background: $disabled-color;
  }
  label.disabled {
    color:$disabled-color;
    cursor:default;
  }
}
