@import 'variables';
@import 'colors';
@import 'text';
@import 'mixin';

$checkbox-square: $checkbox-size + 4px; // 32px; => 36px;

.checkbox-input {

  .input-items {

    input[type="checkbox"], label {
      display: inline;  // IE(old)
      display: inline-block;
      cursor: pointer;
      height:$checkbox-square;
    }
    input[type="checkbox"] {
      position: absolute;
      left: -9999px;
      width:1px;        // it is in effect hidden
      opacity: 0;
      transition: all .2s;
    }
    input[type="checkbox"] ~ label {
      @include __checkbox(); // font-family($font-checkbox);
      color: $gray-light;
      position: relative;
      line-height: $checkbox-square;
      vertical-align: middle;
      height:$checkbox-square;      // 2px border all around
      padding: 0 5px;   // allows focus to show around label equally
      overflow: hidden;
      white-space: nowrap;
    }

    [type="checkbox"] ~ label:before {
      content: '';
      background: #fff;
      border: 2px solid $entered-color;
      display: inline-block;
      vertical-align: middle;
      width: $checkbox-size;
      height: $checkbox-size;
      line-height: $checkbox-size; // 26px;
      margin-bottom: 4px;
      margin-right: 10px;
      text-align: center;
    }

    [type="checkbox"]:checked ~ label:before {
      @include __icons()
      // content: '✔';
      content: '\f00c'; // fa-check
      border-color: $check_button_fill;
      background: $check_button_fill;
      color:$check_button_text;
    }

    // accessibility
    [type="checkbox"]:focus ~ label {
      outline: 1px dotted $focus-color;  // focus on label style
    }

    [type="checkbox"]:focus ~ label:before {
      border-color: $check_button_focus;
      background: $check_button_fill_focus;
      color:$check_button_fill_focus;
    }
    [type="checkbox"]:checked:focus ~ label:before {
      background: $check_button_fill;  // Add back if you want filled checked:focus
      color:$check_button_text;        // Add back if you want filled checked:focus
    }
    [type="checkbox"] ~ label:hover:before {
      border: 2px solid $check_button_hover !important; // $focus-color !important;
    }

    // check mark inside box - aspect changes
    [type="checkbox"]:not(:checked):after ~ label:after {
      opacity: 0;
      transform: scale(0);
    }
    [type="checkbox"]:checked:after ~ label:after {
      opacity: 1;
      transform: scale(1);
    }
  }
}
