@import 'variables';
@import 'colors';
@import 'mixin';

// if screen width <= 480px then ...
// strip the -15px padding around rows and form groups
@media (max-width: $screen-xs-min) {
  .container, .container-fluid {
    padding-left: 0 !important;   // remove the padding
    padding-right: 0 !important;  // remove the padding
    form {
      .form-group{
        margin-left:  $input-padding-small;  // remove the -ve padding
        margin-right: $input-padding-small;  // remove the -ve padding
      }
      .row {
        margin-left: $input-padding-small;   // remove the -ve padding
        margin-right: $input-padding-small;  // remove the -ve padding
      }
    }
  }
}

.container-fluid {
  width: 100%;
  max-width: 1100px; // there is a variable for that
}
