@import 'variables';
@import 'colors';
@import 'text';
@import 'mixin';

// number input styling
.date-of-birth {
  .input-line {
    input {
      display: inline-block;
      float: left;
      margin-right: 4px;
      text-align: center;
      border-radius: 0;
      width:3em;    // 2 chars + 1/2 char padding
      min-width: 3em;
    }
    span.split {
      @include __formlabel();
      font-size: 24px;
      display: inline-block;
      float: left;
      height:$input-height;
      line-height: $input-height;
      vertical-align: middle;
      text-align: center;
      padding: 0 8px;    // $input-padding-small;
    }
    input:last-of-type {
      width:4em;    // 4 chars
      min-width: 4em;
      margin-right:0;
    }
  }
}