@import 'variables';
@import 'colors';
@import 'text';
@import '~style/mixin';

// mobile first version
.form-header {
  width: 100%;
  // padding: $page-padding-mobile $form-padding-mobile;
}

.form-header {
  padding: $page-padding-mobile;

  // if there is a pag header - almost alway
  .page-header {
    @include __header1();
    color: $header-color;
    vertical-align: middle;
    margin-top: 30px;
  }
  // page-header followed by a intro-paragraph
  .page-header + .intro-paragraph {
    margin-bottom: 12px;
  }

  // if there is a intro paragraoh
  .intro-paragraph {
    @include __introParagraph();
    color: $text-color;
    vertical-align: middle;
    // margin-top: 12px;
    margin-bottom: 30px;
  }
}

// media resizing
@media (min-width: $screen-xs-min) {
  .form-header {
    padding: 0 ; // $form-padding !important;
  }
}
