@import 'variables';
@import 'colors';
@import 'mixin';

@mixin absolute-center {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%,-50%) !important;
}

.absolute-center {
  @include absolute-center;
}

// this is full-page layout
.full-page {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color:rgba(255,255,255,0.3); // #efefef;

  .full-page-filled {
    width: 100vw;
    height: 100vh;
    min-width:320px;
  }

  .full-page-popup {
    width:calc(100vw - 60px);  // !!!
    max-width:1000px;
    padding: 10px;
    background-color:white;
    background: rgba(255,255,255,0.2);
    h3, h4 {
      color: $brand-info;
      padding: 10px;
    }
    h4 {
      color: $gray-light;
      margin-bottom: 30px;
    }
  }

}