@import 'variables';
@import 'colors';
@import 'text';
@import 'mixin';

$radio-square: $radio-size + 4px; // 34px; => 36px;

// text input styling
.radio-input {

  .input-items {

    [type="radio"], label {
      display: inline;  // IE(old)
      display: inline-block;
      cursor: pointer;
      height: $radio-square; // 34px;
    }

    [type="radio"] {
      position: absolute;
      left: -9999px;
      width:1px;  // it is in effect hidden
      opacity: 0;
      transition: all .2s;
    }
    [type="radio"] + label {
      @include __radio();
      position: relative;
      color: $gray-light;
      line-height: $radio-square; // 34px;
      vertical-align: middle;
      height: $radio-square;  // 34px;
      padding: 0 5px;         // allows focus to show around label equally
      overflow: hidden;
      white-space: nowrap;
    }

    [type="radio"] + label:before {
      content: '';
      background: #fff;
      border: 2px solid $entered-color;
      display: inline-block;
      vertical-align: middle;
      width: $radio-size;       // 30px;
      height: $radio-size;      // 30px;
      line-height: $radio-size; // 30px;
      margin-bottom: 4px;
      margin-right: 10px;
      text-align: center;
      border-radius: 50%;
    }
    [type="radio"]:checked + label:before {
      border-color: $check_button_fill;
      box-shadow: inset 0px 0px 0px 8px $check_button_fill;
      background: $check_button_text;
      color:$check_button_text;
    }

    // accessibility
    [type="radio"]:focus ~ label {
      outline: 1px dotted $focus-color;  // focus on label style
    }

    [type="radio"]:focus ~ label:before {
      border-color: $check_button_focus;
      box-shadow: inset 0px 0px 0px 8px #fff;      // REMOVE THIS FOR GREEN WITH BLUE OUTSIDE
      background: $check_button_fill_focus;
      color:$check_button_fill_focus;
    }
    [type="radio"]:checked:focus ~ label:before {
      box-shadow: inset 0px 0px 0px 8px $check_button_fill;
      background: $check_button_text;  // Add back if you want filled checked:focus
      color:$check_button_text;        // Add back if you want filled checked:focus
    }
    [type="radio"] ~ label:hover:before {
      border: 2px solid $check_button_hover !important; // $focus-color !important;
    }
  }
}
