@import 'variables';
// @import 'mixin';

// Should be NO SCROLLING when the side-section is
// rendered underneath the main section...
// like when its shown on mobile screens
.side-section {
  padding: 0;
  height:100%;
}

// @ 760px => it jumps to the RHS side
@media (min-width: $screen-md-min) {
  .side-section {
    padding: 0 0 0 12px;
  }
}