@import 'variables';
@import 'colors';
@import 'text';
@import 'mixin';

// =========================================================
// STYLE HACKS for UI-SELECT - its not a standard FORM input
// =========================================================
$input-text-size:      18px;

// Standard Bootstrap dropdown z-index
// =========================================================
body > .ui-select-container {
  z-index: 1000;
}

// Fix Bootstrap dropdown position when inside a input-group
// =========================================================
// .select-input {
//   .ui-select-container {
//     .dropdown {
//       position: static; // Instead of relative
//     }
//     input.ui-select-search.form-control {
//       border-radius: $menu-border-radius;
//     }
//     input.ui-select-search.form-control.direction-up {
//       border-radius: $menu-border-radius !important; // ;
//     }
//   }
// }

// Handing for Offscreen positioning
// =========================================================
.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

// ============================================
//  REWORKED FOR SCSS AND FOR THEMED INPUT !!!
// ============================================
.select-input {

  .ui-select-container {
    width: 100%;
    max-width: $input-max-width;

    input[type="search"] {
      height: $input-height;
    }

    // select-match (the typing line)
    // =========================================================
    .ui-select-match {

      height: $input-height;
      line-height: $input-height;
      vertical-align: middle;

      // kill bootstrap styling on form input (for the dropdown)
      .form-control {
        box-shadow: none;
      }

      &.ng-hide-add {
        display: none !important; // fix hide/show angular animation
      }

      // select-toggle
      // =========================================================
      .ui-select-toggle {
        height: $input-height;
        text-align: left !important; // Instead of center because of .btn
        position: relative;
        border-color: $default-color; // $gray-light;

        &.btn {
          @include __selectselected();
          // kill all bootstrap styles on this btn
          // font-size: $input-text-size;
          line-height: ($input-height - 14px); // 2x (6px padding + 1px border)
          vertical-align: middle;
          background-color: #fff;
          &:hover {
            border-color: $active-color;
          }
        }

        .ui-select-placeholder, .ui-select-match-text {
          width: ($input-max-width - 64px); // ~calc("100% - 20px");
          font-size: $input-text-size;
          vertical-align: middle;
          overflow: hidden;
          white-space: nowrap;
        }

        // fix placeholder styling
        // =========================================================
        .ui-select-placeholder {
          font-size: $input-text-size;
        }

        // select match-text
        // =========================================================
        .ui-select-match-text {
          // ==================================
          // the selected menu option goes here
          // ==================================
          span {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            font-size: $input-text-size;
          }
        }

        // The down chevron
        .caret {
          position: absolute;
          border: 0;
          width:auto;
          height: $input-height;
          line-height: $input-height;
          font-size: $input-text-size;
          margin-top: -6px;   // exactly -ve the padding added by BOOTSTRAP to .btn
          right: $input-padding - 3; // ($input-padding / 2);
        }
        .caret:before {
          @include __icons()
          font-weight: 100;
          font-size:15px;
          content: '\f078';   // fa-chevron-down
          // content: '\f107';   // fa-angle-down (thinner)
          color:$menu_toggle;
        }
      }

      // ensure focus color
      &.btn-default-focus {
        .ui-select-toggle {
          border-color: $focus-color;
        }
      }
    }

    // select-choices and select-no-choices
    // =========================================================
    // See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496
    > .ui-select-choices, > .ui-select-no-choice {
      width: 100%;
      height: auto;       // **** //
      max-height: 200px;
      overflow-x: hidden;
      margin-top: -1px;
      border-radius: 0;

      &.ui-select-dropdown.dropdown-menu {
        border-color: $active-color;
        border-top-color: transparent;
      }
    }

    // select-choices-row
    // this is the contents in the expanded dropdown menu
    // =========================================================
    .ui-select-choices-row {
      > span {
        clear: both;
        display: block;
        padding: 3px $input-padding;
        @include __selectselected();
        font-weight: 400;
        color: $menu_selected-text;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
          text-decoration: none;
          div {
            color: $active-color;
          }
        }
      }
      &.active {
        .ui-select-choices-row-inner {
          text-decoration: none;
          outline: 0;
          background-color: $menu_selected;
          div {
            color: $menu_selected_text;
          }
          .ui-select-highlight {
            color: $menu_toggle;
          }
        }
      }
    }

    .ui-select-search-hidden {
      left:-9999px;
      height: 0;
      min-height: 0;
      padding: 0;
      margin: 0;
      border:0;
      opacity: 0;
    }
    .ui-select-search {
      &.form-control {
        box-shadow: none;
      }
      &.ng-hide-add {
        display: none !important; // fix hide/show angular animation
      }
    }
    .ui-select-highlight {
      font-weight: bold;
    }
    .ui-select-not-found {
      // padding-right: 1em;
      padding-left: $input-padding; // 1em;
    }
    .ng-dirty.ng-invalid > btn.ui-select-match {
      border-color: $invalid-color;
    }

    // Overrides for when the menu is open & dropdown visible
    &.open {
      .ui-select-search {
        border-color: $active-color;
        border-bottom-color: $entered-color;
      }
      .ui-select-toggle {
        .caret:before {
          content: '\f106';   // fa-angle-up (thinner)
        }
      }
    }
  }
}
