@import 'variables';
@import 'colors';
@import 'mixin';

.spinner {
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  background-color: black;
  opacity: 0.25;
  z-index: 9999;
  .spinner-wrapper {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%) !important;
    .spinner-img {
      img {
        width:64px;
        height:64px;
      }
    }
  }
}