// .babelrc
{
  presets: [['es2015', { modules: false }], 'react', 'stage-0'],
  env: {
    development: { },

    test: {
      plugins: [
        [
          'istanbul', { exclude: ['**/*.spec.js'] }
        ]
      ]
    },

    production: { },
  },
  plugins: [

    ["module-resolver", {
      "root": ["."],
      "alias": {
        "root":       ".",
        "actions":    "./src/common/actions",
        "api":        "./src/common/api",
        "components": "./src/common/components",
        "containers": "./src/common/containers",
        "reducers":   "./src/common/reducers",
        "store":      "./src/common/store",
      },
    }],

    /*
    "react-hot-loader/babel",
    "transform-class-properties",
    [
      "babel-plugin-webpack-loaders",
      {
        "config": "./webpack/webpack.babel.js",
        "verbose": true
      }
    ],
    */

  ],
}