{
  presets: ['react', 'es2015', 'stage-0'],
  env: {
    development: { },
    testing: { },
    production: { },
  },
  plugins: [

    ["module-resolver", {
      "root": ["."],
      "alias": {
        "root":       ".",
        "actions":    "./src/common/actions",
        "api":        "./src/common/api",
        "components": "./src/common/components",
        "containers": "./src/common/containers",
        "reducers":   "./src/common/reducers",
        "store":      "./src/common/store",
      },
    }],

  ],
}