# never meant to be in source control
*.nogit*
*.DS_Store
[Tt]humbs.db
*.zip

# text & editor files
*.sublime-*
/.idea/

# Code dependency directories
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
bower_modules

# Debug log from npm
# npm-debug.log

# Logs / logging
logs
*.log

# generated folders and files
build
.nyc
.coverage
.#*
.~*

# sass
.sass-cache
