<div class="form-input clearfix day-month-year">
  <debug ng-if="isDebug"></debug>
  <label for="{{name}}" ng-bind="label"></label>
  <span ng-if="additional && additional.length > 0" class="optionalField" ng-bind="'('+ additional + ')'"></span>
  <span ng-if="!isRequired" class="optionalField">(optional)</span>
  <div>
    <div ng-messages="form[name].$error" ng-show="!form[name].$focus && (form.day.$touched || form.month.$touched || form.year.$touched || form.submitted)" class="error-messages">
      <p ng-message="required">This is required</p>
      <p ng-message="{{name}}" ng-bind="validationMessage"></p>
    </div>
  </div>

  <input
    type="hidden"
    ng-model="model[name]"
    name="{{name}}"
    autocomplete="off"
    validator="{{validation}}"
    ng-required="{{isRequired}}"
    invalid-callback="invalid(message)"
    day-month-year-proxy />

  <!-- 3x inputs (of 2 digits, 2 digits and 4 digits) -->
  <div class="input-line">
    <input
      ng-class="{focus:form[name].$focus===true}"
      type="text"
      id="{{name}}"
      ng-model="vm.day"
      name="day"
      autocomplete="off"
      pattern="\d*"
      maxlength="2"
      validator="required, day"
      ng-focus="form[name].$focus=true"
      ng-blur="form[name].$focus=false"
      ensure-digits />
    <span class="split">/</span>
    <input
      ng-class="{focus:form[name].$focus===true}"
      type="text"
      ng-model="vm.month"
      name="month"
      autocomplete="off"
      pattern="\d*"
      maxlength="2"
      validator="required, month"
      ng-focus="form[name].$focus=true"
      ng-blur="form[name].$focus=false"
      ensure-digits />
    <span class="split">/</span>
    <input
      ng-class="{focus:form[name].$focus===true}"
      type="text"
      ng-model="vm.year"
      name="year"
      autocomplete="off"
      pattern="\d*"
      maxlength="4"
      validator="required, year"
      ng-focus="form[name].$focus=true"
      ng-blur="form[name].$focus=false"
      ensure-digits />
  </div>
</div>