<div class="clearfix header">
  <div class="contents">
    <!--
    <logo class="pull-left"></logo>
    -->
    <div>
        WHEELWRIGHT LOGO
    <div>
    <div class="pull-right wording">
      <div class="icon-wrapper pull-right">
        <!--
        <div class="icon"></div>
        -->
      </div>
      <a ng-href="{{safeAndSecure}}" target="_blank">
        ESSO LOGO
        <!--
        <div class="messages pull-right">
          <div>Safe and Secure</div>
          <div>Internet Banking Guarantee</div>
        </div>
        -->
      </a>
    </div>
  </div>
</div>