<div class="form-input clearfix text-input">
  <debug ng-if="isDebug"></debug>
  <label for="{{name}}" ng-bind="label"></label>
  <span ng-if="additional && additional.length > 0" class="optionalField" ng-bind="'('+ additional + ')'"></span>
  <span class="optionalField">(optional)</span>
  <div>
  </div>
  <input
    ng-class="{focus:$parent.form[name].$focus===true}"
    ng-attr-type="text"
    id="{{name}}"
    name="{{name}}"
    autocomplete="off"
    initial-validity=true
    ng-model="model[name]"
    maxlength="{{length}}"
    ng-focus="$parent.form[name].$focus=true"
    ng-blur="$parent.form[name].$focus=false"
    ng-required="{{isRequired}}" />
</div>