/* variables */

.form {
  margin:0;
  padding:24px;
}

.row {
  /* width: 100%; */
}

.error {
  display: block;
  width: 100%;
  text-align: left;
  justify-content: flex-start;
  padding: 6px 6px 0 0;
  color: red;
}