.root {
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.form {
  /* padding: 0 24px; */
}
.formRow {
}
.formButtons {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 24px 0 0 0;
  justify-content: space-evenly;
}
/*
.h1 {
  composes: heading1 from 'style/typography.pcss';
}
.h2 {
  composes: heading2 from 'style/typography.pcss';
}
.h3 {
  composes: heading3 from 'style/typography.pcss';
}
.h4 {
  composes: heading4 from 'style/typography.pcss';
}
*/