.root {
  flex: 1;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.justifyBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.stack {
  composes: root;
  composes: column;
  composes: justifyCenter;
}
