@import 'variables';
@import 'colors';
@import 'mixin';

@mixin __header1() {
  @include font-family('Lloyds Jack Medium');
  font-size: 44px;
  // line-height: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  // line-height: 1;
  // The lloyds font is rendered as 32px high - (not 44px)
  // line should have a 12px gap when wrapped so 6px gap above & below == 32px + 12px
  line-height: 44px;
  // so margin = (60px - 44px) / 2  => 8px
  margin:8px 0;
}
@mixin __header2() {
  @include font-family('Lloyds Jack Medium');
  font-size: 32px;
  // line-height: 54px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  // The lloyds font is rendered as 28px high - (not 32px)
  // line should have a 12px gap when wrapped so 6px gap above & below == 28px + 12px
  line-height: 34px; // 40px;
  // so margin = (54px - 34px) / 2  => 10px
  margin:10px 0;
}
@mixin __header3() {
  @include font-family('Lloyds Jack Medium');
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __header4() {
  @include font-family('Lloyds Jack Light');
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __header5() {
  @include font-family('Lloyds Jack Light');
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __header6() {
  @include font-family('Lloyds Jack Light');
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

@mixin __introParagraph() {
  @include font-family('Lloyds Jack Light');
  font-size: 20px;
  line-height: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __bodyCopyLarge() {
  @include font-family('Lloyds Jack Light');
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __bodyCopy() {
  @include font-family('Lloyds Jack Light');
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __bodyCopyList() {
  @include font-family('Lloyds Jack Light');
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __bodyCopySmall() {
  @include font-family('Lloyds Jack Light');
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

@mixin __formlabel() {
  @include font-family('Lloyds Jack Medium');
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __forminput() {
  @include font-family('Lloyds Jack Light');
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __formerror() {
  @include font-family('Lloyds Jack Light');
  font-size: 15px; // 18px;  differs for text written in Zeplin
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

@mixin __button() {
  @include font-family('Lloyds Jack Medium');
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __accordion() {
  @include font-family('Lloyds Jack Medium');
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __radio() {
  @include font-family('Lloyds Jack Light');
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
@mixin __checkbox() {
  @include font-family('Lloyds Jack Light');
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

@mixin __selectoption() {
  @include font-family('Lloyds Jack Light');
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

@mixin __selectselected() {
  @include font-family('Lloyds Jack Medium');
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

@mixin __icons() {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
