.box {
  border-width: 2px;
  border-style: solid;
  padding: 0 20px;
  margin: 0 6px;
  max-width: 400px;
}

.background {
  background: url(img/tyres_blur.jpg) no-repeat center center fixed;
  background-size: cover;
}

.rounded {
  border-radius: 24px;
}

.rounded2 {
  border-radius: 48px;
}