@import 'variables';
@import 'colors';
@import 'text';
@import 'mixin';

.basket-wrapper {
  padding:0;
  height:100%;

  .basket {
    height:100%;
    padding: 24px; // $padding;
    background-color:$header-background-color;
  }

  .section-header {
    h2, h3, h4 {
      color:white;
      padding-left:10px;
    }
  }
  .paragraph {
    p {
      @include __bodyCopy();
      font-size: 12pt;
      color:white;
      padding-left:10px;
    }
  }

  .basket-entry, .basket-total {

    position: relative;
    margin-bottom: 10px;

    .title {
      @include __formlabel();
      font-size: 14px;
      height:22px;
      width:100%;

      span {
        color:white;
      }

      > span:first-of-type {
        position:absolute;
        left:10px;
        overflow: hidden;
        white-space: nowrap;
        width: calc(100% - 110px);
        text-overflow: ellipsis;
      }
      > span.amount {
        position:absolute;
        right:24px;
      }
    }

    .body {
      @include __bodyCopy();
      font-size: 12px;
      color:white;
      position: relative;
      overflow: hidden;
      padding: $padding;
    }

    .links {
      .clickable {
        color: white;
        padding-left: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .basket-total {
    padding: 10px 0;
    border-top: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;
  }

  .notes {
    padding-bottom:10px;
    @include __bodyCopy();
    font-size: 12px;
    .note {
      color:white;
      padding-left:10px;
    }
  }

  .footer {
    @include __bodyCopy();
    color:white;
    padding:10px;
    p {
      padding:0;
    }
    small {
      padding:0;
      font-size: 12px;
    }
  }
}

// 760px => Basket Jumps to the RHS
@media (min-width: $screen-md-min) {
  .basket-wrapper {
    .basket {
      padding:0 6px; // $padding;
      // height: auto;
      height: 800px;
      overflow-y: scroll;
    }
  }
}
