@import 'variables';
@import 'colors';
@import 'text';
@import '~style/mixin';

.person-list {
  .flexrow {
    [class*='cell'] {
      padding: $table-padding;
    }
  }
  .heading {
    @include __header4();
  }
  .entry-name {
    @include __header3();
  }
  .entry {
    @include __header4();
  }
  .btn {
    @include __button();
    height: 48px;
  }

  &.flexible {
    padding:0;

    // normal screen size version
    &.person-list-normal {
      border: 1px solid transparent;
      border-top-color: $table-header-background;
      border-bottom-color: $table-header-background;
      .heading {
        @include __header4();
        background-color:$table-header-background;
        border: 1px solid $table-separator-color;
        border-top-color: transparent;
        border-left-color: transparent;
        &:last-of-type {
          border-right-color: transparent;
        }
      }
      .entry {
        @include __bodyCopy();
        border: 1px solid $table-separator-color;
        border-top-color: transparent;
        border-left-color: transparent;
        &:last-of-type {
          border-right-color: transparent;
        }
        &.action {
          a {
            width:100%;
          }
          .btn {
            width:100%;
          }
        }
      }

      // 10 + 5 + 5 + 5 + 5 + 5 = 35 units
      .flexrow {
        [class*='cell'] {
          flex-grow: 5;
        }
        [class*='cell']:nth-of-type(4n+4) {
          flex-grow: 10;
        }
        [class*='cell']:first-of-type {
          flex-grow: 10;
        }
      }
    }

    // mobile version
    &.person-list-mobile {

      border: 2px solid transparent;
      border-top-color: $table-border-color;
      border-bottom-color: $table-border-color;

      .flexrow {
        [class*='cell'] {
          padding: $table-padding;
          border: 1px solid transparent;
          &:first-of-type {
            border-right-color: $table-border-color;
            padding-left:0;
          }
          &:last-of-type {
            border-left-color: $table-border-color;
            padding-right:0;
          }
        }
        .cell-100 {
          border-color: transparent !important;
          &.action {
            .btn {
              width:100%;
            }
          }
        }
        &.top {
          [class*='cell'] {
            border-top-color: $table-separator-color;
          }
        }
        &.bottom {
          [class*='cell'] {
            border-bottom-color: $table-separator-color;
          }
        }
      }
    }
  }
}