.users {
  // nothing in particular
  border: 1px solid gray;
}

.bold {
  font-weight: 700;
}

.user {
  display: flex;
  width: 100%; // 500px;

  > span  {
    flex: 1 0 0%;
  }

  span:first-of-type {
    // width:300px;
    // composes: bold;
    font-weight: 700;
  }

  span:last-of-type {
    color: red;
  }
}


.heading {
  composes: user;
  composes: bold;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
}