<button type="button" class="btn" ng-class="(tertiary ? 'btn-tertiary' : (secondary ? 'btn-secondary' : ( link ? 'btn-link btn-lg' : 'btn-primary')) )" title="{{title}}" ng-disabled="{{disabled}}">
  <span class="none" ng-if="direction==='none'">
    <span ng-bind="text"></span>
  </span>
  <span class="left" ng-if="direction==='left'">
    <i class="fa fa-chevron-left"></i>
    <span class="spacer"></span>
    <span ng-bind="text"></span>
  </span>
  <span class="right" ng-if="direction==='right'">
    <span ng-bind="text"></span>
    <span class="spacer"></span>
    <i class="fa fa-chevron-right"></i>
  </span>
</button>