.root {
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.form {
  padding: 0 48px;
  // min-width: 320px;
  min-height: 320px;
  // max-width: 800px;
}

.h1 {
  composes: heading1 from 'style/typography.pcss';
}
.h2 {
  composes: heading2 from 'style/typography.pcss';
}
.h3 {
  composes: heading3 from 'style/typography.pcss';
}
.h4 {
  composes: heading4 from 'style/typography.pcss';
}