<div class="form-input clearfix text-input">
  <debug ng-if="isDebug"></debug>
  <label for="{{name}}" ng-bind="label"></label>
  <span ng-if="additional && additional.length > 0" class="optionalField" ng-bind="'('+ additional + ')'"></span>
  <span ng-if="!isRequired" class="optionalField">(optional)</span>
  <div>
    <div ng-messages="form[name].$error" ng-show="!form[name].$focus && (form[name].$touched || form.submitted)" class="error-messages">
      <p ng-message="required">This value is required</p>
      <p ng-message="{{name}}" ng-bind="validationMessage"></p>
    </div>
  </div>
  <input
    ng-class="{focus:form[name].$focus===true}"
    ng-attr-type="text"
    id="{{name}}"
    name="{{name}}"
    ng-model="model[name]"
    maxlength="{{length}}"
    ng-focus="form[name].$focus=true"
    ng-blur="form[name].$focus=false"
    validator="{{validation}}"
    invalid-callback="invalidMsg(message)"
    autocomplete="off"
    required="{{isRequired}}"
    ensure-alpha />
</div>
